[Unit]
Description=kmonad keyboard config

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/kmonad /home/mason/git/NixOS/kmonad/colemak-dh-wide.kbd
Nice=-20

[Install]
DefaultInstance=config
WantedBy=default.target
